.progress-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    animation: fade-in 1s ease-in-out;
}

.progress-bar {
    width: 100%;
    height: fit-content;
    flex: 2;
}

.progress-bar-actions {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    flex: 4;
}

.progress-bar-text {
    font-weight: 800;
    color: #212121;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}