.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.back-button-container {
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    flex: 1;
}

.preamble {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}