.back-button-group {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.back-button-icon {
    flex: 1;
}

.back-button-text {
    flex: 2;
    width: 15rem;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.space-left {
    padding-left: 1rem;
}