.title-container {
    text-align: end;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    line-height: 1rem;
    padding-bottom: 1.5rem;
    opacity: 0.75;
}

.title-text {
    font-size: 4rem;
 }
 .subtitle-text {
    font-size: 2rem;
    line-height: 1.5rem;
 }

.quote-mark {
    color: purple;
}

@media (max-width: 630px) {
    .title-container {
        width: 100vw;
    }
}

@media (min-width: 1200px) and (max-width: 1355px) {
    .title-text {
        font-size: 3.5rem;
    }
    .subtitle-text {
        font-size: 1.75rem;
    }
}