.bio-card-parent {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: -0.8rem;
}

.bio-image {
    width: 200px;
    height: 200px;
    border-radius: 1rem;
}

.bio-text {
    padding: 0.75rem;
    text-align: left;
    float: right;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1520px) {
    .bio-card-parent {
        justify-content: center;
        align-items: center;
    }
    .bio-text {
        text-align: center;
    }
    .bio-image {
        height: 125px;
        width: 125px;
    }
}

@media (max-width: 1140px) {
    .bio-image {
        float: none;
        width: 200px;
        height: 200px;
        border-radius: 1rem;
    }
}

@media (max-width: 630px) {
    .bio-image {
        float: none;
        width: 200px;
        height: 200px;
        border-radius: 0.65rem;
    }
}