.app-body {
    height: 90vh;
    overflow: visible;
}

.app-body-main {
    justify-self: center;
    align-items: end;
}

.diary-entry-page-container {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: red;
}

.diary-entry-page {
    align-items: center;
    justify-content: center;
    background-color: blue;
}