@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

.header {
    font-size: 5rem;
    font-family: "Micro 5", sans-serif;
    color: rgb(29, 29, 29);
    align-items: center;
    justify-content: center;
    width: fit-content;
    opacity: 75%;
}

.header-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: wrap;
    opacity: 80%;
}

.header-container {
    width: fit-content;
    justify-content: start;
    align-items: start;
}