@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

.header {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 5rem;
    font-family: "Micro 5", sans-serif;
    color: #282828;
    opacity: 0.85;
    padding: 2rem 5rem;
}

.header-container {
    justify-content: start;
    align-items: start;
}

.info-tooltip {
    position: relative;
    top: calc(-100% - 50px);
    transform: translateX(-50%);
    background-color: rgba(22, 22, 22, 0.8);
    color: white;
}

.info-tooltip-container {
    position: relative;
}
