body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ecf0f1;
}

.container {
    position: relative;
    width: 800px;
    height: 800px;
    overflow: hidden;
}

.shape {
    position: absolute;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    border: 2px solid black;
}

.rounded-square {
    width: 50px;
    height: 50px;
    background-color: #f39c12;
    border-radius: 15px;
    border: 2px solid black;
}

.rounded-triangle-image {
    width: 100%;
    aspect-ratio: 0.8;
    /* Adjust as needed */
    max-width: 74px;
    stroke: 6px solid zinc-500;
}