.App {
  text-align: center;
  width: 100%;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-video-search-diaries {
  filter: hue-rotate(90deg);
}

.bg-progress-page {
  filter: grayscale(75%)
}

.app-body {
  align-items: center;
  justify-content: center;
}
