.App {
  text-align: center;
  width: 100%;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-video-search-diaries {
  filter: hue-rotate(90deg);
}

/** Not useful at the moment, but may be in the future **/
/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.app-body {
  align-items: center;
  justify-content: center;
}
